.board-wrapper.img-fluid
  .board-index.row
    .container
      = render 'boards/header'
      - breadcrumb :search, @search_title
      = render 'layouts/breadcrumbs'
      .board-sidebar.col-sm-3.col-md-3.pull-right.mx-auto
        = render "boards/sidebar"
      .search-contents.pull-left
      - if @search_title.present?
        - if (@board.length != 0)
          .search-word.col-sm-6.col-md-6
            %p #{@search_title}の検索結果
          = render "search-table"
        - else
          .search-word.col-sm-8.col-md-8
            %p スレッドがありません。
      - else
        .search-word.col-sm-8.col-md-8
          %p 新着スレッド
        = render "search-table"

