.mypage
  .contents.row
    .container
      = render 'boards/header'
      - breadcrumb :user
      = render 'layouts/breadcrumbs'
      .user-table.col-sm-7.col-md-7.pull-left.mr-4
        .mypage-title.mb-2
          %h5 マイページ
        .table_created.d-flex
          %h3=@name
          %span さんが作成したスレッド一覧
        - if @boards.present?
          %section.ml-3
            .board-text.col-sm-10.col-md-10
              %table.table
                %thead
                  %tr.table-success
                    %th{style: "width: 100px"} スレッドID
                    %th{scope: "col"} タイトル
                %tbody
                  %table.table.table-striped.table-hover
                    = render partial: 'boards/description', collection: @boards, as: :board
            %tbody.text-center
              = paginate @boards
      .user-info-contents.col-sm-4.col-md-4.pull-right.mx-auto
        = render partial: 'mypage-sidebar'

