%nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
  = link_to "みほう掲示板",root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls": "navbarColor02", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarColor02", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to "個人ページ", "#", class: "nav-link"
        %span.sr-only
      %li.nav-item.active
        = link_to "Twitter", "https://twitter.com/MihouTechPeak51", class: "nav-link"
      - if user_signed_in?
        %li.nav-item.dropdown.active
          %a.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", role: "button", style: "outline-width: 0px !important; user-select: auto !important;"} #{current_user.name}
          .dropdown-menu{style: "position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;", "x-placement": "bottom-start"}
            = link_to "マイページ", user_path(current_user), class: "dropdown-item"
            = link_to "ヘルプ", attention_assistance_path, class: "dropdown-item"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
    .form-inline.my-2.my-lg-0
      = render "boards/search-form"
