%tr.active
  %th{scope: "row", style: "width: 80px"} #{board.id}
  %td
    = link_to "#{board.title}", "/boards/#{board.id}"
    #icon-plus.icon-field.rounded{"data-toggle": "collapse", "data-target": "#collapseExample", "aria-expanded": "false", "aria-controls": "collapseExample"}
      %i.far.fa-plus-square
    #collapseExample.collapse
      .card.card-body
        = "#{board.description}"