.board-management-page
  .topic-wrapper.py-4
    #contact-form.container
      - breadcrumb :board_edit, @board
      = render "layouts/breadcrumbs"
      .board-management-form
        = form_with model: @board, local: true do |f|
          .board-management-form__title
            %h5 スレッド編集
          .board-management-form__inner.mx-5
            .board-description.d-flex
              %p スレッドタイトル
              %span.form-require 必須
            .form-group
              = f.text_field :title, placeholder: "スレの名前を入力してください(60文字以内)", class: "form-control required"
            .board-description.d-flex
              %p スレッド説明文
              %span.form-require 必須
            .form-group
              = f.text_area :description, placeholder: "スレの説明を入力してください(1000文字以内)",style: {cols: 50, rows: 20}, class: "form-control required", id: "thread-description"
            .board-description.d-flex
              %p スレッドカテゴリ名
              %span.form-require 必須
            .form-group
              %input#category-form.form-control.required{value: "#{@board.categories[0].name}", autocomplete: "off"}
            .form-group
              = f.hidden_field :category_ids, value: "#{@board.categories[0].id}", id: "category-hidden", class: "form-control required", name: 'board[category_ids][]'
            %div#category-search-result
            .actions.d-flex
              = f.submit "スレッド更新", class: "btn btn-secondary btn-lg thread-update-btn", id: "submit-form"
            .thread-destroy.mt-3
              %p ※押す前に削除して良いか確認しましょう
              = link_to "スレッド削除", "/boards/#{@board.id}", method: :delete, class: "btn btn-destroy btn-lg"
