.board-wrapper.img-fluid
  .board-index
    .container
      = render "header"
      .sidebar.col-sm-3.col-md-3
        = render "sidebar"
      #index_header_box.col-sm-9.col-md-9
        %ul
          %li
            %h5
              = link_to "利用規約", attention_term_path
              = link_to "プライバシーポリシー", attention_privacy_policy_path
              = link_to "ヘルプ", attention_assistance_path
          %li
            %h4 みほう掲示板です。なんでも宣言OK!
            %h5
              %button.btn.btn-primary{type: "button", onclick: "location.href='https://mihoutechpeak.hatenablog.com/archive'"} ブログ
              で紹介することがあります

      .board-text.col-sm-9.col-md-9
        %table.table
          %thead
            %tr.table-success
              %th{style: "width: 80px"} 全レス
              %th{scope: "col"} タイトル
          %tbody
            %table.table.table-striped.table-hover
              - @boards.each do |board|
                %tr.active
                  %th{scope: "row", style: "width: 80px"} #{board.id}
                  %td
                    = link_to "#{board.title}", "/boards/#{board.id}"
                    #icon-plus.icon-field.rounded{"data-toggle": "collapse", "data-target": "#collapseExample", "aria-expanded": "false", "aria-controls": "collapseExample"}
                      %i.far.fa-plus-square
                    #collapseExample.collapse
                      .card.card-body
                        .board-description
                          #{board.description}
                        .board-category.d-flex
                          カテゴリ名:
                          .category-name
                            #{board.categories[0].name}
      %tbody.text-center
        = will_paginate @boards,previous_label: ' < 前へ', next_label: '次へ >'
