<h1>掲示板</h1>

<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <% @board.errors.full_messages.each do |err| %>
      <font color="red"><%= err %></font><br>
    <% end %>
  <% end %>

  <div><%= f.text_field :title %></div>
  <%= f.submit %><br>
<% end %>
<hr>

<% @boards.each do |msg| %>
  <%= msg.id %> : <%= msg.title %> : <%= msg.created_at %><br>
  <br>
<% end %>