.board-wrapper.img-fluid
  .board-index.row
    .container
      = render "header"
      .board-sidebar.col-sm-3.col-md-3.pull-right
        = render "sidebar"
      #index_header_box.col-sm-8.col-md-8.pull-left
        %ul
          %li
            %h5
              = link_to "利用規約", attention_term_path
              = link_to "プライバシーポリシー", attention_privacy_policy_path
              = link_to "ヘルプ", attention_assistance_path
          %li
            %h4 みほう掲示板です。なんでも宣言OK!
            %h5
              %button.btn.btn-primary{type: "button", onclick: "location.href='https://mihoutechpeak.hatenablog.com/archive'"} ブログ
              で紹介することがあります

      .board-text.col-sm-8.col-md-8.pull-left
        %table.table
          %thead
            %tr.table-success
              %th{style: "width: 100px"} スレッドID
              %th{scope: "col"} タイトル
          %tbody
            %table.table.table-striped.table-hover
              = render partial: "description", collection: @boards, as: "board"
        %tbody.text-center
          = will_paginate @boards,previous_label: ' < 前へ', next_label: '次へ >'
