.thread_show
  .contents.row
    .container
      = render "header"
      .jumbotron.bd-light.message_area
        .return_board
          %h2
            =link_to "掲示板に戻る", root_path
            %i.fas.fa-undo
        .board_title
          %h1
            = @board.title
        %h4 <レス一覧＞
        .message-box
          - if @messages
            - @messages.each do |message|
              .message-box__info
                = message.created_at
              .message-box__text
                %pre
                  = message.body
      .jumbotron.bg-light.d-flex
        = form_with(url:"/boards/#{@board.id}/messages",method: :post,local: true) do |f|
          .form-group
            = f.label "レスを投稿する"
            = f.text_area :body,name: "body",placeholder: "宣言ならなんでもOK\n1000文字以内",style: {cols: 80, rows: 12}, class: "respond_area"
          = f.submit "書き込む" ,class: 'text-light btn btn-primary btn-lg respond-btn'
      %blockquote
        書き込み前に
        = link_to "利用規約", "#"
        を確認してください

