.contents.row
  .container
    .jumbotron.bg-light.py-3.mt-4.float-left.d-flex
      = form_with(url:"/boards/#{@board.id}/messages",method: :post,local: true) do |f|
        .form-group
          = f.text_area :body,placeholder: "コメントする", name: "body",size: "20x5", style: {cols: 30, rows: 10}
        = f.submit "送信" ,class: 'text-light btn btn-primary btn-lg'
      .ml-4
        .messages
          %h4 ＜コメント一覧＞
          - if @messages
            - @messages.each do |message|
              %p
                = message.body
