.thread_show
  .contents.row
    .container
      = render "header"
      - breadcrumb :board, @board
      = render 'layouts/breadcrumbs'
      .message-sidevar.col-sm-2.col-md-2
        #angle-up.message-sidevar__arrow
          %i.fas.fa-angle-double-up
        #angle-down.message-sidevar__arrow
          %i.fas.fa-angle-double-down
      .jumbotron.bd-light.message_area.col-sm-10.col-md-10
        .board_title
          %h1
            = @board.title
        %h4 <レス一覧＞
        .message-box
          = render partial: "layouts/message", collection: @messages, as: "message"
      .jumbotron.bg-light.respond_create.col-sm-10.col-md-10
        = form_with(url:"/boards/#{@board.id}/messages",method: :post,local: true) do |f|
          #contact-form.form-group
            = f.label "レスを投稿する"
            - if user_signed_in?
              = f.text_field :name, placeholder: "名前(省略可)", class: "respond_name readonly-form", value: "#{current_user.name}", readonly: "readonly"
            - else
              = f.text_field :name, placeholder: "名前(省略可)", class: "respond_name"
            - if user_signed_in?
              = f.email_field :email, placeholder: "メールアドレス(省略可)", class: "respond_name", value: "#{current_user.email}"
            - else
              = f.email_field :email, placeholder: "メールアドレス(省略可)", class: "respond_name"
            = f.file_field :image, class: "form-control-file"
            = f.text_area :body, name: "body",placeholder: "宣言ならなんでもOK\n1000文字以内",style: {cols: 80, rows: 12}, class: "respond_area required"
          .respond-create-btn
            = f.submit "書き込む" ,class: 'text-light btn btn-primary btn-lg respond-btn', id: "submit-form"
          .bottom-contents
            = link_to "みほう掲示板に戻る", root_path, class: "top-return"
            = button_tag "リロード", class: "btn btn-link",onclick: "window.location.reload()"

      %blockquote
        書き込み前に
        = link_to "利用規約", attention_term_path
        を確認してください
